#rolesTable {
  float:left;
  width:300px;
  text-align: center;

}
ul {
  padding-left:0px;
}
#empNameTable {
  float:left;
  width:300px;
  text-align: center;
  margin:auto 400px;
  position:fixed;
 
}
#empNameTable ul {
  height: 90px;
}
#toDosTable {
  float:right;
  width:600px;
 
  text-align: center;
}
.cancelButton {
  width: 20px;
  height: 20px;
  float:left;
  visibility: hidden;
  
}
#rolesTable .ROR, .Android, .JS, .jquery {
  border: solid 1px;
  margin: 1px;
  /*padding-left:20px;
  padding-right: 20px;*/
}
.empName {
  border: solid 1px;
  margin: 1px;
  padding-left:20px;
  padding-right: 20px;
}
.Hover {
  padding-left:10px;
  padding-right: 10px;
}
ul {
  list-style-type: none;
}
.ror ul, .android ul, .js ul {
  padding-left: 0px;
}
.newRow {
  border: solid 1px;
  margin: 1px;
  background-color: #e3e3e2;

}
.hoverItem:hover {
  background-color: yellow;
}
.plusButton {
  height:20px;
  width:20px;
  float:right;
  margin:2px;
}
.nameLabel {
  border: solid 1px;
  padding:2px 10px;
  float:left;
  margin-top: 5px;
  margin-left: 5px;
}
.toDoDiv {
  float:right;
  border: solid 1px;
  height:120px;
  margin-right:10px;
  margin-top:10px;
  width:400px;
  overflow: auto;
}
.newRowToDo {
  border: solid 1px;
  margin: 1px;
  background-color: #e3e3e2;
  height: 150px;

}
.headerButton {
  height:15px;
  width:15px;
  float:right;
  margin:2px;
  display: table-caption;
}
.task{
  margin-left:5px;
  float:left;
}
.saveButton , .deleteButton , .editButton {
  float:left;
  width:20px;
  height:20px;
}
.empToDo {
  margin-left:5px;
}
.emptask {
  float:left;
  width:250px;
  margin-left:2px;
  margin-top:2px;
}
.newDivToDo {
  width:300px;
  position: relative;
}
.toDoDiv {
  position: relative;
}